<!-- <h1 [appTest]="color" size="150px">Merhaba</h1>
<button (click)="changeColor('red')">Kırmızı</button>
<button (click)="changeColor('blue')">Mavi</button>
<button (click)="changeColor('green')">Yeşil</button>
<button (click)="changeColor('black')">Siyah</button> -->

<!-- <h1>Merhaba</h1>

<div class="col-md-6">
<form #form="ngForm">
  <input [appValidation]="form.controls['firstName'].valid" #firstName required minlength="3" type="text" class="form-control" ngModel name="firstName">
</form>
</div>
<hr>
<div class="col-md-6">
  <form [formGroup]="addForm">
    <input
      [appValidation]="addForm.controls['firstName'].valid"     
      formControlName="firstName"
      required
      minlength="3"
      type="text"
      class="form-control">
  </form>
  </div> -->
<!-- 
  <a appTanerRoute="/home" appActiveRoute="active" >Home</a> ||<a appTanerRoute="/about" appActiveRoute="active">About</a>
  <router-outlet></router-outlet> -->

  <!-- Structural Directives -->
  <!-- <div *ngIf="isActive">Merhaba</div>

  <ng-template [ngIf]="isActive">
    <div>Merhaba</div>
  </ng-template> -->

  <h1 *appUnless="isActive">Lorem ipsum dolor sit.</h1>
  <h1 *appUnless="!isActive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, dolorum deleniti. Praesentium soluta molestias rerum eligendi cupiditate dignissimos facere aspernatur, deleniti, perferendis rem dolor blanditiis tenetur ipsa unde nesciunt molestiae?</h1>
  <hr>
  <button (click)="isActive = !isActive">Durumu değiştir</button>